# Database configuration
PROJECT_ID=some-project-id
DB_USER=
DB_PASS=
BRANCH_ID=
DATABASE_URL=

# WebSocket url. Use wss for production: wss://7red.ru/api
WS_URL=ws://localhost:8080/api

# Server password
SERVER_PW=